body {
  background-color: #0064a9;
}

.conteudo {
  margin-top: 60px;
}

.titulo {
  background-color: #0080d8;
}

.titulo h1 {
  color: #ffffff;
  font-family: 'Spartan', sans-serif;
  font-size: 36px;
  font-weight: 700;
}

.paragrafos {
  color: #ffffff;
  font-family: 'Spartan', sans-serif;
  font-size: 22px;
  font-weight: 500;
}

.regulamento a {
  font-family: 'Spartan', sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #ffc328;
  text-decoration: none;
}

.regulamento a:hover {
  color: #ffd873;
  transition: 0.3s;
}

.regulamento-icon svg {
  width: 32px;
  height: 32px;
}

.regulamento-icon svg path {
  fill: #ffc328;
}

.regulamento-icon svg:hover path {
  fill: #ffd873;
  transition: 0.3s;
}

.participar a {
  width: 100%;
  padding: 15px;
  background: #f1ae00;
  color: #ffffff;
  font-family: 'Spartan', sans-serif;
  font-size: 38px;
  font-weight: 700;
  border-radius: 10px;
}

.participar a:hover {
  background-color: #ffc839;
  color: #ffffff;
  transition: 0.3s;
}

.participar {
  margin-bottom: 60px;
}

hr {
  width: 100%;
  height: 1px;
  color: #ffffff;
}

.midias-sociais {
  display: flex;
  align-items: center;
  justify-content: center;
}

.whatsapp,
.instagram,
.facebook,
.twitter,
.youtube {
  width: 47px;
  height: 47px;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  opacity: 0.9;
}

.whatsapp:hover {
  opacity: 1;
  transition: 0.3;
}

.instagram:hover {
  opacity: 1;
  transition: 0.3s;
}

.facebook:hover {
  opacity: 1;
  transition: 0.3s;
}

.twitter:hover {
  opacity: 1;
  transition: 0.3s;
}

.youtube:hover {
  opacity: 1;
  transition: 0.3s;
}

.univali-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.univali-logo svg {
  width: 120px;
  height: 82px;
}
